.button {
  text-decoration: none;
  padding: 10px 20px;
  background: var(--c-prymary);
  border-radius: 25px;
  font-family: var(--f-headings), sans-serif;
  color: var(--c-white);
  width: 60%;
  min-width: 290px;
  align-self: center;
  margin: 20px 0;
}
