.card {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  width: 70%;
  border: 1px solid var(--c-lightgray);
  margin: 20px 0;
  padding: 40px;
  border-radius: 25px;
  box-shadow: 0 0 11px 2px var(--c-lightgray);

  &:first-child {
    margin-top: 40px;
  }

  &__content {
    flex-direction: column-reverse;
  }
}
