.minicard {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  border-radius: 25px;
  flex-direction: column;
  border: 1px solid var(--c-lightgray);
  box-shadow: 0 0 11px 2px var(--c-lightgray);
  margin: auto;
}
