:root {
  --c-prymary: #ff52bf;
  --c-lightcyan: #ebfbff;   
  --c-darkcyan: #00252e;
  --c-cyan: #74caca;
  --c-five: #9cd6d6;
  --c-blue: #808d99; 
  --c-white: #ffffff;
  --f-headings: 'Poppins';
  --f-body: 'Open Sans';
  --c-lightgray: #e5e2e2;
  --c-gray: #808080;
}
